# ENVs

**Comments**  
* Variables for directories always starts with '`dir_`' and ends without '`/`'
* Variables for dataframes always starts with '`df_`'

In [1]:
dir_pjs            = "/home/martingb/Projects"
# caid-reference
dir_main               = f"{dir_pjs}/2022/caid2-reference"
dir_data               = f"{dir_main}/data"
dir_data_sifts         = f"{dir_data}/sifts"
dir_data_alphafold     = f"{dir_data}/alphafold"
dir_data_disprot       = f"{dir_data}/disprot"
dir_src                = f"{dir_main}/src"
dir_tmp                = f"{dir_main}/tmp"
dir_results            = f"{dir_main}/results"
dir_results_tables     = f"{dir_results}/tables"
dir_results_lists      = f"{dir_results}/lists"
dir_results_references = f"{dir_results}/references"
dir_src_modules        = f"{dir_src}/modules"

# Imports

In [2]:
import os
import json
import requests
import pandas as pd
import numpy as np
from pprint import pprint
# For GO and IDPO terms
import networkx
import obonet
import math

# Functions

In [53]:
def expand_region(adf: pd.DataFrame, database: str = 'disprot') -> pd.DataFrame:
    """
    """
    if database == 'disprot':
        adf["reg_position"] = list(range(int(adf["start"]), int(adf["end"]) + 1, 1))
    elif database == 'sifts':
        adf["sp_position"] = list(range(int(adf["SP_BEG"]), int(adf["SP_END"]) + 1, 1))
    elif database == 'gene3d':
        adf["g3d_position"] = list(range(int(adf["start"]), int(adf["end"]) + 1, 1))
    else:
        raise ValueError(f"'{database}' is not a choise for parameter 'database'")
    return adf

def expand_seq(adf: pd.DataFrame) -> pd.DataFrame:
    """
    """
    adf["seq_position_aa"] = [(i+1, aa) for i, aa in enumerate(adf["sequence"])]
    return adf

# Retrieve release file

The following files should be placed in <root-to-CAID2>/data/annotations`

# Notes for CAID2

* Retrieve the latest DisProt release using the API as a json file
* Build a unify DataFrame using the `<disprot-release>.json": file


## Comments
- DisProt API has problems parsing:
    + Different versions
    + Regions for
        + Namespaces
    + Consensus

## DisProt cases to test

In [4]:
disprot_testing_cases = { "DP00005": "Antitermination protein N"
                        , "DP00009": "Transcription initiation factor IIA subunit 2"
                        , "DP00016": "Cyclin-dependent kinase inhibitor 1"
                        , "DP00040": "High mobility group protein HMG-I/HMG-Y"
                        , "DP00086": "Cellular tumor antigen p53" }

## GO and IDPO terms to be used

### IDPO

In [5]:
# The OBO must have "ontology: IDPO" header (first line)
graph = obonet.read_obo(f"{dir_data_disprot}/IDPO_v0.3.0.obo")
# graph.nodes(data=True)
#df_ont = pd.DataFrame([[node[0], node[1]['name']] for node in graph.nodes(data=True) if node[1]['namespace'] == 'Disorder_function'], columns=['term', 'name'])
df_ont = pd.DataFrame([[node[0], node[1]['name']] for node in graph.nodes(data=True) if node[1]['namespace'] == 'disorder_function'], columns=['term', 'name'])
df_ont

          term                                name
0   IDPO:00000                   disorder function
1   IDPO:00501                      entropic chain
2   IDPO:00502              flexible linker/spacer
3   IDPO:00503            flexible N-terminal tail
4   IDPO:00504            flexible C-terminal tail
5   IDPO:00505            self-regulatory activity
6   IDPO:00506                     self-inhibition
7   IDPO:00507                     self-activation
8   IDPO:00508                       self-assembly
9   IDPO:00024  molecular recognition display site
10  IDPO:00025        phosphorylation display site
11  IDPO:00026            acetylation display site
12  IDPO:00027            methylation display site
13  IDPO:00028          glycosylation display site
14  IDPO:00029         ubiquitination display site
15  IDPO:00030        fatty acylation display site
16  IDPO:00031         myristoylation display site
17  IDPO:00032         palmitoylation display site
18  IDPO:00033    limited proteolysis display site
19  IDPO:00034       ADP-ribosylation display site

#### Ancestors

In [6]:
# Create the ancestors table
df_depth = []
df_ont_ancestors = []
for node in graph.nodes(data=True):
    if node[1]['namespace'] == 'disorder_function':
#         print(node[0], networkx.descendants(graph, node[0]), node[1].get('is_a'))
        for d in networkx.descendants(graph, node[0]):
            df_ont_ancestors.append([node[0], d])
            df_depth.append([node[0], len(list(networkx.all_shortest_paths(graph, source=node[0], target='IDPO:00000'))[0])])
        
df_ont_ancestors = pd.DataFrame(df_ont_ancestors, columns=['term', 'ancestor']).sort_values(by='term')
df_depth = pd.DataFrame(df_depth, columns=['term', 'depth']).sort_values(by='term')
df_ont_ancestors

          term    ancestor
14  IDPO:00024  IDPO:00000
16  IDPO:00025  IDPO:00000
15  IDPO:00025  IDPO:00024
17  IDPO:00026  IDPO:00024
18  IDPO:00026  IDPO:00000
19  IDPO:00027  IDPO:00024
20  IDPO:00027  IDPO:00000
22  IDPO:00028  IDPO:00000
21  IDPO:00028  IDPO:00024
23  IDPO:00029  IDPO:00024
24  IDPO:00029  IDPO:00000
26  IDPO:00030  IDPO:00000
25  IDPO:00030  IDPO:00024
28  IDPO:00031  IDPO:00000
27  IDPO:00031  IDPO:00024
30  IDPO:00032  IDPO:00000
29  IDPO:00032  IDPO:00024
31  IDPO:00033  IDPO:00024
32  IDPO:00033  IDPO:00000
34  IDPO:00034  IDPO:00000
33  IDPO:00034  IDPO:00024
0   IDPO:00501  IDPO:00000
2   IDPO:00502  IDPO:00000
1   IDPO:00502  IDPO:00501
4   IDPO:00503  IDPO:00000
3   IDPO:00503  IDPO:00501
6   IDPO:00504  IDPO:00000
5   IDPO:00504  IDPO:00501
7   IDPO:00505  IDPO:00000
9   IDPO:00506  IDPO:00000
8   IDPO:00506  IDPO:00505
11  IDPO:00507  IDPO:00000
10  IDPO:00507  IDPO:00505
13  IDPO:00508  IDPO:00000
12  IDPO:00508  IDPO:00505

### GO

#### Remove edges different to `is_a`

In [7]:
# The OBO must have "ontology: GO" header (first line)
graph = obonet.read_obo(f"{dir_data_disprot}/go-basic.obo")
to_remove = []
for e in graph.edges:
    if e[2] != 'is_a':
        to_remove.append((e[0], e[1]))

for ele in to_remove:
    graph.remove_edge(*ele)

In [8]:

# for node in graph.nodes(data=True):
#     pprint(node)
#     break
# #df_ont = pd.DataFrame([[node[0], node[1]['name']] for node in graph.nodes(data=True) if node[1]['namespace'] == 'Disorder_function'], columns=['term', 'name'])
# df_ont = pd.DataFrame([[node[0], node[1]['name'], node[1]['namespace']]  for node in graph.nodes(data=True) \
#                         if (node[1]['namespace'] == 'biological_process') or \
#                            (node[1]['namespace'] == 'molecular_function') or \
#                            (node[1]['namespace'] == 'cellular_component') ], columns=['term', 'name', 'namespace'])
# df_ont

#### Ancestors

In [9]:
# # Create the ancestors table
# df_depth = []
# df_ont_ancestors = []
# for node in graph.nodes(data=True): #GO:0005488 binding
#     #if node[1]['namespace'] == 'binding':
#     if node[1]['namespace'] == 'molecular_function':
# #         print(node[0], networkx.descendants(graph, node[0]), node[1].get('is_a'))
#         for d in networkx.descendants(graph, node[0]):
#             df_ont_ancestors.append([node[0], d])
#             df_depth.append([node[0], len(list(networkx.all_shortest_paths(graph, source=node[0], target='GO:0003674'))[0])])
        
# df_ont_ancestors = pd.DataFrame(df_ont_ancestors, columns=['term', 'ancestor']).sort_values(by='term')
# df_depth = pd.DataFrame(df_depth, columns=['term', 'depth']).sort_values(by='term')
# df_ont_ancestors[df_ont_ancestors["term"] == "GO:0005488"]

In [10]:
# df_ont_ancestors[df_ont_ancestors["term"] == "GO:0002151"]

#### Children

In [11]:
# Parents
challenge_ancestors = [ ('GO:0005488', 'binding')
                      , ('GO:0003676', 'nucleic acid binding')
                      , ('GO:0005515', 'protein binding') ]
# Create children table
challenges_go = []
for go_term, challenge in challenge_ancestors:
    for node in graph.nodes(data=True):
        if node[0] == go_term:
            challenges_go.append([go_term, challenge])
            for d in networkx.ancestors(graph, node[0]): 
                challenges_go.append([d, challenge])

### Ontology terms for challenges

In [12]:
# Main GO terms
# { "GO:0008150": "biological_process"
# , "GO:0003674": "molecular_function"
# , "GO:0005575": "cellular_component" }

challenges_idpo = [ ('IDPO:00076', 'disorder')
                  , ('IDPO:00077', 'disorder')
                  , ('IDPO:00078', 'disorder')
                  , ('IDPO:00501', 'linker')
                  , ('IDPO:00502', 'linker')
                  , ('IDPO:00503', 'linker')
                  , ('IDPO:00504', 'linker')
                  , ('IDPO:00049', 'transition')
                  , ('IDPO:00050', 'transition')
                  , ('IDPO:00051', 'transition')
                  , ('IDPO:00052', 'transition')
                  , ('IDPO:00053', 'transition')
                  , ('IDPO:00060', 'transition')
                  , ('IDPO:00055', 'transition')
                  , ('IDPO:00056', 'transition')
                  , ('IDPO:00061', 'transition')
                  , ('IDPO:00054', 'transition')
                  , ('IDPO:00057', 'transition')
                  , ('IDPO:00058', 'transition')
                  , ('IDPO:00059', 'transition')]

# challenges_go = list(zip( df_ont_children['child']
#                         , df_ont_children['challenge']))

challenges = challenges_go + challenges_idpo
challenges

[['GO:0005488', 'binding'],
 ['GO:0032029', 'binding'],
 ['GO:0019979', 'binding'],
 ['GO:0005519', 'binding'],
 ['GO:0031859', 'binding'],
 ['GO:0002112', 'binding'],
 ['GO:0046923', 'binding'],
 ['GO:0030944', 'binding'],
 ['GO:0046817', 'binding'],
 ['GO:0046872', 'binding'],
 ['GO:0051540', 'binding'],
 ['GO:0030544', 'binding'],
 ['GO:0002134', 'binding'],
 ['GO:0019808', 'binding'],
 ['GO:0015631', 'binding'],
 ['GO:0098750', 'binding'],
 ['GO:0002039', 'binding'],
 ['GO:0038106', 'binding'],
 ['GO:0033328', 'binding'],
 ['GO:0033458', 'binding'],
 ['GO:2001067', 'binding'],
 ['GO:0000339', 'binding'],
 ['GO:0005501', 'binding'],
 ['GO:0001972', 'binding'],
 ['GO:0110035', 'binding'],
 ['GO:0031867', 'binding'],
 ['GO:0044548', 'binding'],
 ['GO:0002151', 'binding'],
 ['GO:0019983', 'binding'],
 ['GO:1903231', 'binding'],
 ['GO:0033417', 'binding'],
 ['GO:0070644', 'binding'],
 ['GO:0070696', 'binding'],
 ['GO:0030533', 'binding'],
 ['GO:0001846', 'binding'],
 ['GO:0032406', 'binding'],
 ['GO:0032183', 'binding'],
 ['GO:0072570', 'binding'],
 ['GO:0031418', 'binding'],
 ['GO:0017070', 'binding'],
 ['GO:0034713', 'binding'],
 ['GO:0031821', 'binding'],
 ['GO:0001094', 'binding'],
 ['GO:0001068', 'binding'],
 ['GO:1904408', 'binding'],
 ['GO:0070905', 'binding'],
 ['GO:0031832', 'binding'],
 ['GO:0031405', 'binding'],
 ['GO:0001002', 'binding'],
 ['GO:0035651', 'binding'],
 ['GO:0031785', 'binding'],
 ['GO:0009374', 'binding'],
 ['GO:0033424', 'binding'],
 ['GO:0031720', 'binding'],
 ['GO:0033432', 'binding'],
 ['GO:0098638', 'binding'],
 ['GO:0005158', 'binding'],
 ['GO:0070742', 'binding'],
 ['GO:0005165', 'binding'],
 ['GO:0031856', 'binding'],
 ['GO:0046790', 'binding'],
 ['GO:0031706', 'binding'],
 ['GO:0008658', 'binding'],
 ['GO:0038085', 'binding'],
 ['GO:0046714', 'binding'],
 ['GO:0140295', 'binding'],
 ['GO:1901681', 'binding'],
 ['GO:0062078', 'binding'],
 ['GO:0042802', 'binding'],
 ['GO:0048029', 'binding'],
 ['GO:0016918', 'binding'],
 ['GO:0005509', 'binding'],
 ['GO:0031997', 'binding'],
 ['GO:1904841', 'binding'],
 ['GO:0031803', 'binding'],
 ['GO:0005544', 'binding'],
 ['GO:0033445', 'binding'],
 ['GO:0035715', 'binding'],
 ['GO:0031719', 'binding'],
 ['GO:0033294', 'binding'],
 ['GO:0097247', 'binding'],
 ['GO:0005102', 'binding'],
 ['GO:0046810', 'binding'],
 ['GO:0036002', 'binding'],
 ['GO:0019975', 'binding'],
 ['GO:0043199', 'binding'],
 ['GO:0031796', 'binding'],
 ['GO:0019977', 'binding'],
 ['GO:0039552', 'binding'],
 ['GO:0033418', 'binding'],
 ['GO:1990525', 'binding'],
 ['GO:0051219', 'binding'],
 ['GO:0030395', 'binding'],
 ['GO:0097655', 'binding'],
 ['GO:0061776', 'binding'],
 ['GO:0001095', 'binding'],
 ['GO:0031806', 'binding'],
 ['GO:0030145', 'binding'],
 ['GO:0036310', 'binding'],
 ['GO:0031818', 'binding'],
 ['GO:0034237', 'binding'],
 ['GO:0008301', 'binding'],
 ['GO:0046977', 'binding'],
 ['GO:0099534', 'binding'],
 ['GO:0070186', 'binding'],
 ['GO:0043565', 'binding'],
 ['GO:0005522', 'binding'],
 ['GO:0046914', 'binding'],
 ['GO:0097157', 'binding'],
 ['GO:0120022', 'binding'],
 ['GO:0043023', 'binding'],
 ['GO:0046812', 'binding'],
 ['GO:0016150', 'binding'],
 ['GO:0051082', 'binding'],
 ['GO:0001876', 'binding'],
 ['GO:0042826', 'binding'],
 ['GO:0097030', 'binding'],
 ['GO:0050786', 'binding'],
 ['GO:1990825', 'binding'],
 ['GO:0016169', 'binding'],
 ['GO:0070594', 'binding'],
 ['GO:0034512', 'binding'],
 ['GO:0001222', 'binding'],
 ['GO:1990175', 'binding'],
 ['GO:0035877', 'binding'],
 ['GO:0034987', 'binding'],
 ['GO:0019966', 'binding'],
 ['GO:0070539', 'binding'],
 ['GO:0008266', 'binding'],
 ['GO:0032357', 'binding'],
 ['GO:0003743', 'binding'],
 ['GO:0140031', 'binding'],
 ['GO:0033439', 'binding'],
 ['GO:0000062', 'binding'],
 ['GO:1902387', 'binding'],
 ['GO:0051432', 'binding'],
 ['GO:0005055', 'binding'],
 ['GO:0005499', 'binding'],
 ['GO:0002057', 'binding'],
 ['GO:0051536', 'binding'],
 ['GO:0001162', 'binding'],
 ['GO:0097245', 'binding'],
 ['GO:0005112', 'binding'],
 ['GO:0032548', 'binding'],
 ['GO:2001066', 'binding'],
 ['GO:0031876', 'binding'],
 ['GO:0033410', 'binding'],
 ['GO:0072341', 'binding'],
 ['GO:0051880', 'binding'],
 ['GO:0032132', 'binding'],
 ['GO:0070878', 'binding'],
 ['GO:0051433', 'binding'],
 ['GO:0018445', 'binding'],
 ['GO:0030247', 'binding'],
 ['GO:0072572', 'binding'],
 ['GO:0031807', 'binding'],
 ['GO:0070337', 'binding'],
 ['GO:0031369', 'binding'],
 ['GO:0140036', 'binding'],
 ['GO:0036105', 'binding'],
 ['GO:2001077', 'binding'],
 ['GO:0042162', 'binding'],
 ['GO:0090488', 'binding'],
 ['GO:1902271', 'binding'],
 ['GO:0042019', 'binding'],
 ['GO:0010844', 'binding'],
 ['GO:0019811', 'binding'],
 ['GO:0031435', 'binding'],
 ['GO:0019978', 'binding'],
 ['GO:0106153', 'binding'],
 ['GO:0010314', 'binding'],
 ['GO:1904769', 'binding'],
 ['GO:0016084', 'binding'],
 ['GO:0031370', 'binding'],
 ['GO:0140272', 'binding'],
 ['GO:0030551', 'binding'],
 ['GO:0045522', 'binding'],
 ['GO:0005504', 'binding'],
 ['GO:0051393', 'binding'],
 ['GO:0061507', 'binding'],
 ['GO:0019958', 'binding'],
 ['GO:0001156', 'binding'],
 ['GO:0051008', 'binding'],
 ['GO:0050780', 'binding'],
 ['GO:0046871', 'binding'],
 ['GO:0031712', 'binding'],
 ['GO:0034189', 'binding'],
 ['GO:2001082', 'binding'],
 ['GO:0045142', 'binding'],
 ['GO:0061675', 'binding'],
 ['GO:0048030', 'binding'],
 ['GO:0032546', 'binding'],
 ['GO:0030976', 'binding'],
 ['GO:0030911', 'binding'],
 ['GO:0035484', 'binding'],
 ['GO:0030559', 'binding'],
 ['GO:0031798', 'binding'],
 ['GO:0008198', 'binding'],
 ['GO:0039556', 'binding'],
 ['GO:0031852', 'binding'],
 ['GO:0031754', 'binding'],
 ['GO:0051287', 'binding'],
 ['GO:1901567', 'binding'],
 ['GO:0019962', 'binding'],
 ['GO:0035594', 'binding'],
 ['GO:0086080', 'binding'],
 ['GO:0035757', 'binding'],
 ['GO:0019810', 'binding'],
 ['GO:0005117', 'binding'],
 ['GO:0097177', 'binding'],
 ['GO:1902516', 'binding'],
 ['GO:0005146', 'binding'],
 ['GO:0070540', 'binding'],
 ['GO:0042007', 'binding'],
 ['GO:0036435', 'binding'],
 ['GO:0005134', 'binding'],
 ['GO:0120286', 'binding'],
 ['GO:0048403', 'binding'],
 ['GO:0033161', 'binding'],
 ['GO:0001000', 'binding'],
 ['GO:0050750', 'binding'],
 ['GO:0043394', 'binding'],
 ['GO:0001092', 'binding'],
 ['GO:0000400', 'binding'],
 ['GO:0035731', 'binding'],
 ['GO:0031830', 'binding'],
 ['GO:0099567', 'binding'],
 ['GO:0031849', 'binding'],
 ['GO:0005502', 'binding'],
 ['GO:0070080', 'binding'],
 ['GO:0031995', 'binding'],
 ['GO:0030555', 'binding'],
 ['GO:0016922', 'binding'],
 ['GO:0010209', 'binding'],
 ['GO:0005175', 'binding'],
 ['GO:0072328', 'binding'],
 ['GO:0019842', 'binding'],
 ['GO:1905761', 'binding'],
 ['GO:0070891', 'binding'],
 ['GO:0005138', 'binding'],
 ['GO:0031808', 'binding'],
 ['GO:2001079', 'binding'],
 ['GO:0001155', 'binding'],
 ['GO:0031432', 'binding'],
 ['GO:0035273', 'binding'],
 ['GO:0003681', 'binding'],
 ['GO:0048273', 'binding'],
 ['GO:0031752', 'binding'],
 ['GO:0016085', 'binding'],
 ['GO:0005536', 'binding'],
 ['GO:0033460', 'binding'],
 ['GO:0071667', 'binding'],
 ['GO:0098769', 'binding'],
 ['GO:1990715', 'binding'],
 ['GO:1905762', 'binding'],
 ['GO:0003746', 'binding'],
 ['GO:0017075', 'binding'],
 ['GO:0098631', 'binding'],
 ['GO:0031732', 'binding'],
 ['GO:0023027', 'binding'],
 ['GO:0097322', 'binding'],
 ['GO:0032448', 'binding'],
 ['GO:0031823', 'binding'],
 ['GO:0061628', 'binding'],
 ['GO:0000774', 'binding'],
 ['GO:0033404', 'binding'],
 ['GO:0031717', 'binding'],
 ['GO:0005164', 'binding'],
 ['GO:0042922', 'binding'],
 ['GO:0034714', 'binding'],
 ['GO:0031819', 'binding'],
 ['GO:0043121', 'binding'],
 ['GO:0031763', 'binding'],
 ['GO:0019960', 'binding'],
 ['GO:0106151', 'binding'],
 ['GO:0032564', 'binding'],
 ['GO:1990458', 'binding'],
 ['GO:0031749', 'binding'],
 ['GO:0019864', 'binding'],
 ['GO:0042610', 'binding'],
 ['GO:1990459', 'binding'],
 ['GO:0045296', 'binding'],
 ['GO:0031865', 'binding'],
 ['GO:0032791', 'binding'],
 ['GO:0046875', 'binding'],
 ['GO:1990655', 'binding'],
 ['GO:0043035', 'binding'],
 ['GO:0031758', 'binding'],
 ['GO:0031845', 'binding'],
 ['GO:0070530', 'binding'],
 ['GO:0010013', 'binding'],
 ['GO:0005144', 'binding'],
 ['GO:0031893', 'binding'],
 ['GO:0005109', 'binding'],
 ['GO:0019826', 'binding'],
 ['GO:0030507', 'binding'],
 ['GO:0031764', 'binding'],
 ['GO:0032500', 'binding'],
 ['GO:0034617', 'binding'],
 ['GO:0001531', 'binding'],
 ['GO:0017124', 'binding'],
 ['GO:0051428', 'binding'],
 ['GO:0045503', 'binding'],
 ['GO:0019957', 'binding'],
 ['GO:0032131', 'binding'],
 ['GO:0044589', 'binding'],
 ['GO:0031753', 'binding'],
 ['GO:0043472', 'binding'],
 ['GO:1903876', 'binding'],
 ['GO:0031490', 'binding'],
 ['GO:0033411', 'binding'],
 ['GO:1902485', 'binding'],
 ['GO:0043167', 'binding'],
 ['GO:0043183', 'binding'],
 ['GO:0005178', 'binding'],
 ['GO:0033612', 'binding'],
 ['GO:1904713', 'binding'],
 ['GO:0070883', 'binding'],
 ['GO:0140728', 'binding'],
 ['GO:0033401', 'binding'],
 ['GO:0032138', 'binding'],
 ['GO:0042562', 'binding'],
 ['GO:0005500', 'binding'],
 ['GO:0005546', 'binding'],
 ['GO:0030348', 'binding'],
 ['GO:0035538', 'binding'],
 ['GO:0097160', 'binding'],
 ['GO:1903880', 'binding'],
 ['GO:0045510', 'binding'],
 ['GO:0008432', 'binding'],
 ['GO:0010011', 'binding'],
 ['GO:0000772', 'binding'],
 ['GO:0043395', 'binding'],
 ['GO:0003676', 'binding'],
 ['GO:0032560', 'binding'],
 ['GO:0031694', 'binding'],
 ['GO:0045352', 'binding'],
 ['GO:0044590', 'binding'],
 ['GO:0043274', 'binding'],
 ['GO:0032841', 'binding'],
 ['GO:0089710', 'binding'],
 ['GO:0019976', 'binding'],
 ['GO:0089720', 'binding'],
 ['GO:0008017', 'binding'],
 ['GO:0043548', 'binding'],
 ['GO:0016208', 'binding'],
 ['GO:0032032', 'binding'],
 ['GO:0051401', 'binding'],
 ['GO:0044547', 'binding'],
 ['GO:0020037', 'binding'],
 ['GO:0030629', 'binding'],
 ['GO:0008142', 'binding'],
 ['GO:0023028', 'binding'],
 ['GO:0043522', 'binding'],
 ['GO:0043423', 'binding'],
 ['GO:0005167', 'binding'],
 ['GO:1901641', 'binding'],
 ['GO:1990400', 'binding'],
 ['GO:0031745', 'binding'],
 ['GO:0043560', 'binding'],
 ['GO:0005047', 'binding'],
 ['GO:0031826', 'binding'],
 ['GO:0043021', 'binding'],
 ['GO:0046625', 'binding'],
 ['GO:0043325', 'binding'],
 ['GO:0031853', 'binding'],
 ['GO:0070180', 'binding'],
 ['GO:0033421', 'binding'],
 ['GO:0019969', 'binding'],
 ['GO:0098641', 'binding'],
 ['GO:0110036', 'binding'],
 ['GO:0045512', 'binding'],
 ['GO:2001084', 'binding'],
 ['GO:0098632', 'binding'],
 ['GO:0044583', 'binding'],
 ['GO:0033425', 'binding'],
 ['GO:0070410', 'binding'],
 ['GO:0030564', 'binding'],
 ['GO:0019215', 'binding'],
 ['GO:0051381', 'binding'],
 ['GO:0005104', 'binding'],
 ['GO:0042497', 'binding'],
 ['GO:0033130', 'binding'],
 ['GO:1901982', 'binding'],
 ['GO:0005122', 'binding'],
 ['GO:0097098', 'binding'],
 ['GO:0001849', 'binding'],
 ['GO:0001853', 'binding'],
 ['GO:0070699', 'binding'],
 ['GO:0003725', 'binding'],
 ['GO:1902052', 'binding'],
 ['GO:0045015', 'binding'],
 ['GO:0001848', 'binding'],
 ['GO:0032030', 'binding'],
 ['GO:0032399', 'binding'],
 ['GO:0001221', 'binding'],
 ['GO:0031782', 'binding'],
 ['GO:0140259', 'binding'],
 ['GO:0051870', 'binding'],
 ['GO:0070968', 'binding'],
 ['GO:0098633', 'binding'],
 ['GO:0098851', 'binding'],
 ['GO:0030519', 'binding'],
 ['GO:1901981', 'binding'],
 ['GO:0070016', 'binding'],
 ['GO:0042988', 'binding'],
 ['GO:0005126', 'binding'],
 ['GO:0046906', 'binding'],
 ['GO:0031809', 'binding'],
 ['GO:0106260', 'binding'],
 ['GO:0035991', 'binding'],
 ['GO:0031833', 'binding'],
 ['GO:0033428', 'binding'],
 ['GO:0001001', 'binding'],
 ['GO:0016168', 'binding'],
 ['GO:0071837', 'binding'],
 ['GO:0050811', 'binding'],
 ['GO:0042657', 'binding'],
 ['GO:0003723', 'binding'],
 ['GO:0061649', 'binding'],
 ['GO:0035730', 'binding'],
 ['GO:0120285', 'binding'],
 ['GO:0045516', 'binding'],
 ['GO:0051525', 'binding'],
 ['GO:0062153', 'binding'],
 ['GO:0030985', 'binding'],
 ['GO:0097243', 'binding'],
 ['GO:0031843', 'binding'],
 ['GO:0031962', 'binding'],
 ['GO:1905576', 'binding'],
 ['GO:1901691', 'binding'],
 ['GO:0097162', 'binding'],
 ['GO:0030515', 'binding'],
 ['GO:0008145', 'binding'],
 ['GO:0038100', 'binding'],
 ['GO:0120160', 'binding'],
 ['GO:0044378', 'binding'],
 ['GO:1901149', 'binding'],
 ['GO:0062058', 'binding'],
 ['GO:0097677', 'binding'],
 ['GO:1990856', 'binding'],
 ['GO:0032266', 'binding'],
 ['GO:1990460', 'binding'],
 ['GO:0071209', 'binding'],
 ['GO:0003677', 'binding'],
 ['GO:0044584', 'binding'],
 ['GO:0008430', 'binding'],
 ['GO:0070974', 'binding'],
 ['GO:0042393', 'binding'],
 ['GO:0071987', 'binding'],
 ['GO:1905108', 'binding'],
 ['GO:0042289', 'binding'],
 ['GO:0034511', 'binding'],
 ['GO:0005184', 'binding'],
 ['GO:1904483', 'binding'],
 ['GO:0033204', 'binding'],
 ['GO:0001856', 'binding'],
 ['GO:0031738', 'binding'],
 ['GO:0031695', 'binding'],
 ['GO:0044197', 'binding'],
 ['GO:1904288', 'binding'],
 ['GO:0043008', 'binding'],
 ['GO:0050431', 'binding'],
 ['GO:0005169', 'binding'],
 ['GO:0035197', 'binding'],
 ['GO:0005118', 'binding'],
 ['GO:0070412', 'binding'],
 ['GO:0030165', 'binding'],
 ['GO:0031786', 'binding'],
 ['GO:0051449', 'binding'],
 ['GO:0062062', 'binding'],
 ['GO:0033450', 'binding'],
 ['GO:1990763', 'binding'],
 ['GO:0017162', 'binding'],
 ['GO:0070338', 'binding'],
 ['GO:0030151', 'binding'],
 ['GO:0160002', 'binding'],
 ['GO:0008267', 'binding'],
 ['GO:0051427', 'binding'],
 ['GO:0140702', 'binding'],
 ['GO:0062066', 'binding'],
 ['GO:0017098', 'binding'],
 ['GO:0043559', 'binding'],
 ['GO:0050839', 'binding'],
 ['GO:0036461', 'binding'],
 ['GO:0005132', 'binding'],
 ['GO:1905773', 'binding'],
 ['GO:0001968', 'binding'],
 ['GO:1904768', 'binding'],
 ['GO:0046870', 'binding'],
 ['GO:0042056', 'binding'],
 ['GO:0032405', 'binding'],
 ['GO:0019961', 'binding'],
 ['GO:0036312', 'binding'],
 ['GO:0031625', 'binding'],
 ['GO:0031491', 'binding'],
 ['GO:0042314', 'binding'],
 ['GO:0032552', 'binding'],
 ['GO:0005523', 'binding'],
 ['GO:0031748', 'binding'],
 ['GO:0031883', 'binding'],
 ['GO:0030881', 'binding'],
 ['GO:0036004', 'binding'],
 ['GO:0031872', 'binding'],
 ['GO:1990829', 'binding'],
 ['GO:0033435', 'binding'],
 ['GO:0070975', 'binding'],
 ['GO:0031767', 'binding'],
 ['GO:0000035', 'binding'],
 ['GO:0000404', 'binding'],
 ['GO:0031072', 'binding'],
 ['GO:0001139', 'binding'],
 ['GO:0000992', 'binding'],
 ['GO:0042609', 'binding'],
 ['GO:0010180', 'binding'],
 ['GO:0098634', 'binding'],
 ['GO:0070335', 'binding'],
 ['GO:0031780', 'binding'],
 ['GO:0032135', 'binding'],
 ['GO:2001227', 'binding'],
 ['GO:0002113', 'binding'],
 ['GO:0032036', 'binding'],
 ['GO:1903878', 'binding'],
 ['GO:0042805', 'binding'],
 ['GO:0010313', 'binding'],
 ['GO:0071886', 'binding'],
 ['GO:0019862', 'binding'],
 ['GO:0030492', 'binding'],
 ['GO:0033406', 'binding'],
 ['GO:0044877', 'binding'],
 ['GO:0106137', 'binding'],
 ['GO:0061770', 'binding'],
 ['GO:0070051', 'binding'],
 ['GO:0051380', 'binding'],
 ['GO:0071889', 'binding'],
 ['GO:0045159', 'binding'],
 ['GO:0002056', 'binding'],
 ['GO:0071857', 'binding'],
 ['GO:0031434', 'binding'],
 ['GO:0030506', 'binding'],
 ['GO:0005159', 'binding'],
 ['GO:0008201', 'binding'],
 ['GO:0031713', 'binding'],
 ['GO:0140431', 'binding'],
 ['GO:0031787', 'binding'],
 ['GO:2001073', 'binding'],
 ['GO:0019982', 'binding'],
 ['GO:0019103', 'binding'],
 ['GO:0032003', 'binding'],
 ['GO:0016913', 'binding'],
 ['GO:0046983', 'binding'],
 ['GO:0031697', 'binding'],
 ['GO:0046904', 'binding'],
 ['GO:0031884', 'binding'],
 ['GO:0097109', 'binding'],
 ['GO:0050733', 'binding'],
 ['GO:0070628', 'binding'],
 ['GO:0097246', 'binding'],
 ['GO:0120153', 'binding'],
 ['GO:0030884', 'binding'],
 ['GO:0097001', 'binding'],
 ['GO:0003786', 'binding'],
 ['GO:0005518', 'binding'],
 ['GO:0071791', 'binding'],
 ['GO:0051861', 'binding'],
 ['GO:1901338', 'binding'],
 ['GO:0030628', 'binding'],
 ['GO:0033442', 'binding'],
 ['GO:0090736', 'binding'],
 ['GO:1990165', 'binding'],
 ['GO:0031775', 'binding'],
 ['GO:0032139', 'binding'],
 ['GO:0070026', 'binding'],
 ['GO:0010297', 'binding'],
 ['GO:0071576', 'binding'],
 ['GO:0042017', 'binding'],
 ['GO:0030619', 'binding'],
 ['GO:0030562', 'binding'],
 ['GO:0140033', 'binding'],
 ['GO:0030116', 'binding'],
 ['GO:1905575', 'binding'],
 ['GO:0031875', 'binding'],
 ['GO:0034185', 'binding'],
 ['GO:0008613', 'binding'],
 ['GO:0019904', 'binding'],
 ['GO:0070967', 'binding'],
 ['GO:0031851', 'binding'],
 ['GO:1990309', 'binding'],
 ['GO:0016595', 'binding'],
 ['GO:0008139', 'binding'],
 ['GO:0043210', 'binding'],
 ['GO:0061629', 'binding'],
 ['GO:0036458', 'binding'],
 ['GO:0000340', 'binding'],
 ['GO:0033403', 'binding'],
 ['GO:0033134', 'binding'],
 ['GO:0033431', 'binding'],
 ['GO:0034710', 'binding'],
 ['GO:0019970', 'binding'],
 ['GO:0038103', 'binding'],
 ['GO:0000402', 'binding'],
 ['GO:0031728', 'binding'],
 ['GO:0017045', 'binding'],
 ['GO:0030943', 'binding'],
 ['GO:2001085', 'binding'],
 ['GO:0001164', 'binding'],
 ['GO:0034236', 'binding'],
 ['GO:0070996', 'binding'],
 ['GO:0031402', 'binding'],
 ['GO:0030621', 'binding'],
 ['GO:1990381', 'binding'],
 ['GO:0140585', 'binding'],
 ['GO:0005550', 'binding'],
 ['GO:1905577', 'binding'],
 ['GO:0008187', 'binding'],
 ['GO:0043924', 'binding'],
 ['GO:0000401', 'binding'],
 ['GO:1902118', 'binding'],
 ['GO:0051020', 'binding'],
 ['GO:0050681', 'binding'],
 ['GO:0031423', 'binding'],
 ['GO:0071535', 'binding'],
 ['GO:1902248', 'binding'],
 ['GO:1990631', 'binding'],
 ['GO:0043176', 'binding'],
 ['GO:1990473', 'binding'],
 ['GO:0051424', 'binding'],
 ['GO:0031208', 'binding'],
 ['GO:1904767', 'binding'],
 ['GO:1901531', 'binding'],
 ['GO:0098808', 'binding'],
 ['GO:0045519', 'binding'],
 ['GO:0140035', 'binding'],
 ['GO:0097367', 'binding'],
 ['GO:1904517', 'binding'],
 ['GO:0008327', 'binding'],
 ['GO:0033434', 'binding'],
 ['GO:0008009', 'binding'],
 ['GO:1990890', 'binding'],
 ['GO:0042165', 'binding'],
 ['GO:0039706', 'binding'],
 ['GO:2001064', 'binding'],
 ['GO:0120146', 'binding'],
 ['GO:0031834', 'binding'],
 ['GO:0048306', 'binding'],
 ['GO:0005174', 'binding'],
 ['GO:0008079', 'binding'],
 ['GO:0071860', 'binding'],
 ['GO:0030552', 'binding'],
 ['GO:0023025', 'binding'],
 ['GO:0031874', 'binding'],
 ['GO:0034583', 'binding'],
 ['GO:0002058', 'binding'],
 ['GO:0045545', 'binding'],
 ['GO:0005048', 'binding'],
 ['GO:0019973', 'binding'],
 ['GO:0044390', 'binding'],
 ['GO:0005161', 'binding'],
 ['GO:0032550', 'binding'],
 ['GO:0000406', 'binding'],
 ['GO:0050660', 'binding'],
 ['GO:0140496', 'binding'],
 ['GO:0031473', 'binding'],
 ['GO:0033408', 'binding'],
 ['GO:1990448', 'binding'],
 ['GO:0038191', 'binding'],
 ['GO:0050700', 'binding'],
 ['GO:0033433', 'binding'],
 ['GO:0001019', 'binding'],
 ['GO:0045027', 'binding'],
 ['GO:0031881', 'binding'],
 ['GO:1902121', 'binding'],
 ['GO:0086084', 'binding'],
 ['GO:0033464', 'binding'],
 ['GO:0031779', 'binding'],
 ['GO:0050840', 'binding'],
 ['GO:0031249', 'binding'],
 ['GO:0008179', 'binding'],
 ['GO:0001862', 'binding'],
 ['GO:0008092', 'binding'],
 ['GO:0046980', 'binding'],
 ['GO:0042021', 'binding'],
 ['GO:0031701', 'binding'],
 ['GO:0097216', 'binding'],
 ['GO:0062061', 'binding'],
 ['GO:0031781', 'binding'],
 ['GO:0023031', 'binding'],
 ['GO:0045322', 'binding'],
 ['GO:0033461', 'binding'],
 ['GO:0035254', 'binding'],
 ['GO:0042169', 'binding'],
 ['GO:0061891', 'binding'],
 ['GO:0008098', 'binding'],
 ['GO:0062068', 'binding'],
 ['GO:1903879', 'binding'],
 ['GO:0031813', 'binding'],
 ['GO:0033459', 'binding'],
 ['GO:0030742', 'binding'],
 ['GO:0070404', 'binding'],
 ['GO:0030553', 'binding'],
 ['GO:0050661', 'binding'],
 ['GO:0001791', 'binding'],
 ['GO:0048038', 'binding'],
 ['GO:0005525', 'binding'],
 ['GO:0031403', 'binding'],
 ['GO:0010428', 'binding'],
 ['GO:0071890', 'binding'],
 ['GO:0098650', 'binding'],
 ['GO:0005053', 'binding'],
 ['GO:0044729', 'binding'],
 ['GO:0031847', 'binding'],
 ['GO:0005166', 'binding'],
 ['GO:0034618', 'binding'],
 ['GO:0001965', 'binding'],

#### Dataframe for Ontology terms

In [13]:
# Be aware that the column name for `term_id` is written correctly.
df_challenges = pd.DataFrame(data=challenges, columns=['term_id', 'challenge'])
df_challenges

         term_id   challenge
0     GO:0005488     binding
1     GO:0032029     binding
2     GO:0019979     binding
3     GO:0005519     binding
4     GO:0031859     binding
...          ...         ...
3082  IDPO:00061  transition
3083  IDPO:00054  transition
3084  IDPO:00057  transition
3085  IDPO:00058  transition
3086  IDPO:00059  transition

[3087 rows x 2 columns]

#### Save Ontology DisProt dataframe for CAID2

In [14]:
os.makedirs(f'{dir_results_tables}', exist_ok=True)

In [15]:
df_challenges.to_csv(f'{dir_results_tables}/disprot_ontologies_for_caid2.csv', index=False)

## CAID2 entries

In [16]:
main_columns = [ 'disprot_id'
               , 'acc'
               , 'name'
               , 'ncbi_taxon_id'           # int
               , 'organism'
               , 'sequence'
               , 'taxonomy' ]              # list of str (organisms)

region_columns = [ "disprot_namespace"  # str
                 , "region_id"          # str
                 , "date"               # str
                 , "start"              # int
                 , "end"                # int
                 , "term_id"            # str (GO and IDPO terms)
                 , "term_name"          # str (GO and IDPO description)
                 , "term_namespace"     # str (GO and IDPO namespace)
                 , "term_ontology" ]    # str (type of ontology, e.i.: GO, IDPO)

# """
# Ontology
# DisProt relies on three different ontologies to annotate intrinsically disordered regions, the Intrinsically Disordered Proteins Ontology (IDPO), the Gene Ontology (GO) and the Evidence and Conclusion Ontology (ECO).
#     * IDPO is used to describe structural aspects of an IDP/IDR, self-functions and functions directly associated with their disordered state.
#     * GO is used to describe functional aspects of an IDP/IDR.
#     * ECO describes the technique or evidence associated with an annotation.
# """

### Getting private DisProt entries

#### Old DisProt json

In [17]:
json_old = []
with open(f"{dir_data_disprot}/entries_2022_06.json", "r") as f:
    for line in f:
        json_old.append(json.loads(line))

#### New DisProt json

In [18]:
json_new = []
with open(f"{dir_data_disprot}/entries_2022_06_c.json", "r") as f:
    for line in f:
        json_new.append(json.loads(line))

#### Private DisProt json

In [19]:
json_private = []
json_private_only_obsolete_regions = []
entries_old = {k['disprot_id'] for k in json_old}
for ajson in json_new:
    if (not ajson['disprot_id'] in entries_old) and \
       (len(ajson['regions']) > 0)              and \
       (not 'obsolete' in ajson.keys())         and \
       (not 'obsolete' in ajson.keys())         and \
       (not 'X' in ajson['sequence']): # without non-standard aa
        regions_obsolete = []
        regions_not_obsolete = []
        for areg in ajson['regions']:
            if not 'obsolete' in areg.keys():
                regions_not_obsolete.append(areg)
            else:
                regions_obsolete.append(areg)
        if regions_not_obsolete:
            ajson['regions'] = regions_not_obsolete
            json_private.append(ajson)
        else:
            ajson['regions'] = regions_obsolete
            json_private_only_obsolete_regions.append(ajson)
        entries_old.discard(ajson['disprot_id'])
len(json_private)

361

##### Testing case where it has only one region and is obsolete

In [20]:
'DP03441' in {k['disprot_id'] for k in json_private}

False

#### Save private DisProt json

In [21]:
dict_disprot_private = { 'data': json_private
                       , 'size': len(json_private) }
with open(f'{dir_data_disprot}/entries_private_caid2.json', 'w') as f:
    json.dump(dict_disprot_private, f, indent=4, sort_keys=True)

## Dataframes

### Dataframe for private DisProt entries

In [22]:
df_disprot_private = pd.json_normalize( data          = json_private
                                      , record_path   = ['regions']
                                      , meta          = main_columns
                                      , meta_prefix   = ''
                                      , record_prefix = '' )
df_disprot_private = df_disprot_private.loc[:, main_columns + region_columns]
df_disprot_private

,disprot_id,acc,name,ncbi_taxon_id,organism,sequence,taxonomy,disprot_namespace,region_id,date,start,end,term_id,term_name,term_namespace,term_ontology
0,DP02342,P06837,Neuromodulin,10090,Mus musculus,MLCCMRRTKQVEKNDEDQKIEQDGVKPEDKAHKAATKIQASFRGHI...,"[Eukaryota, Metazoa, Chordata, Craniata, Verte...",Structural state,DP02342r003,2022-02-14T09:00:00.000Z,1,227,IDPO:00078,pre-molten globule,Structural state,IDPO
1,DP02342,P06837,Neuromodulin,10090,Mus musculus,MLCCMRRTKQVEKNDEDQKIEQDGVKPEDKAHKAATKIQASFRGHI...,"[Eukaryota, Metazoa, Chordata, Craniata, Verte...",Disorder function,DP02342r006,2022-02-14T09:00:00.000Z,34,57,GO:0051179,localization,Biological process,GO
2,DP02342,P06837,Neuromodulin,10090,Mus musculus,MLCCMRRTKQVEKNDEDQKIEQDGVKPEDKAHKAATKIQASFRGHI...,"[Eukaryota, Metazoa, Chordata, Craniata, Verte...",Disorder function,DP02342r007,2022-02-14T09:00:00.000Z,34,57,GO:0098772,molecular function regulator,Molecular function,GO
3,DP02342,P06837,Neuromodulin,10090,Mus musculus,MLCCMRRTKQVEKNDEDQKIEQDGVKPEDKAHKAATKIQASFRGHI...,"[Eukaryota, Metazoa, Chordata, Craniata, Verte...",Structural state,DP02342r009,2022-02-14T09:00:00.000Z,1,227,IDPO:00078,pre-molten globule,Structural state,IDPO
4,DP02342,P06837,Neuromodulin,10090,Mus musculus,MLCCMRRTKQVEKNDEDQKIEQDGVKPEDKAHKAATKIQASFRGHI...,"[Eukaryota, Metazoa, Chordata, Craniata, Verte...",Disorder function,DP02342r010,2022-02-14T09:00:00.000Z,34,57,GO:0005515,protein binding,Molecular function,GO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1163,DP03744,Q9VVJ7,CG7484 protein,7227,Drosophila melanogaster,MHKCAIFLLLALSCQQIQAELTAADCRALGFIKAQLMCSSCEKLDD...,"Eukaryota, Metazoa, Ecdysozoa, Arthropoda, Hex...",Disorder function,DP03744r002,2022-06-17T10:48:39.874Z,53,178,GO:0045454,cell redox homeostasis,Biological process,GO
1164,DP03745,Q8VHC3,Selenoprotein M,10090,Mus musculus,MSILLSPPSLLLLLAALVAPATSTTNYRPDWNRLRGLARGRVETCG...,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",Structural state,DP03745r001,2022-06-17T10:51:32.225Z,25,34,IDPO:00076,disorder,Structural state,IDPO
1165,DP03745,Q8VHC3,Selenoprotein M,10090,Mus musculus,MSILLSPPSLLLLLAALVAPATSTTNYRPDWNRLRGLARGRVETCG...,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",Structural state,DP03745r002,2022-06-17T10:51:44.007Z,121,145,IDPO:00076,disorder,Structural state,IDPO
1166,DP03745,Q8VHC3,Selenoprotein M,10090,Mus musculus,MSILLSPPSLLLLLAALVAPATSTTNYRPDWNRLRGLARGRVETCG...,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",Disorder function,DP03745r003,2022-06-17T10:52:51.196Z,24,145,GO:0045454,cell redox homeostasis,Biological process,GO
1167,DP03746,Q9QUH6-2,Isoform 2 of Ras/Rap GTPase-activating protein...,10116,Rattus norvegicus,MSYAPFRDVRGPPMHRTQYVHSPYDRPGWNPRFCIISGNQLLMLDE...,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",Structural state,DP03746r001,2022-06-22T14:35:20.554Z,350,386,IDPO:00076,disorder,Structural state,IDPO

##### Getting private DisProt entries IDs

In [23]:
set_disprot_ids_private = set(df_disprot_private["disprot_id"].tolist())
len(set_disprot_ids_private)

361

##### Manually testing if a disprot entry from july 2022 exists

In [24]:
'DP03753' in set_disprot_ids_private or 'DP03753' in df_disprot_private['disprot_id'].tolist()

False

#### Save private DisProt dataframe

In [25]:
df_disprot_private.to_csv(f'{dir_results_tables}/disprot_private.csv', index=False)

### Dataframe for sequence

In [26]:
df_sequence = df_disprot_private[['disprot_id', 'acc', 'sequence']].copy(deep=True).drop_duplicates()
df_sequence['seq_position_aa'] = df_disprot_private['sequence'].apply(lambda x: [(i+1, aa) for i, aa in enumerate(x)])
df_sequence = df_sequence.explode("seq_position_aa")
df_sequence[['seq_position', 'seq_aa']] = pd.DataFrame(df_sequence['seq_position_aa'].tolist(), index=df_sequence.index)
df_sequence.drop(columns=['seq_position_aa', 'sequence'], inplace=True)
df_sequence

     disprot_id       acc  seq_position seq_aa
0       DP02342    P06837             1      M
0       DP02342    P06837             2      L
0       DP02342    P06837             3      C
0       DP02342    P06837             4      C
0       DP02342    P06837             5      M
...         ...       ...           ...    ...
1167    DP03746  Q9QUH6-2          1280      Q
1167    DP03746  Q9QUH6-2          1281      L
1167    DP03746  Q9QUH6-2          1282      L
1167    DP03746  Q9QUH6-2          1283      I
1167    DP03746  Q9QUH6-2          1284      R

[297446 rows x 4 columns]

#### Save dataframe of sequence

In [27]:
df_sequence.to_csv(f'{dir_results_tables}/disprot_private_sequences.csv', index=False)

### Dataframe for regions

In [28]:
df_regions = df_disprot_private.apply(expand_region, database='disprot', axis=1).copy(deep=True)
df_regions = df_regions.explode("reg_position")
df_regions

,disprot_id,acc,name,ncbi_taxon_id,organism,sequence,taxonomy,disprot_namespace,region_id,date,start,end,term_id,term_name,term_namespace,term_ontology,reg_position
0,DP02342,P06837,Neuromodulin,10090,Mus musculus,MLCCMRRTKQVEKNDEDQKIEQDGVKPEDKAHKAATKIQASFRGHI...,"[Eukaryota, Metazoa, Chordata, Craniata, Verte...",Structural state,DP02342r003,2022-02-14T09:00:00.000Z,1,227,IDPO:00078,pre-molten globule,Structural state,IDPO,1
0,DP02342,P06837,Neuromodulin,10090,Mus musculus,MLCCMRRTKQVEKNDEDQKIEQDGVKPEDKAHKAATKIQASFRGHI...,"[Eukaryota, Metazoa, Chordata, Craniata, Verte...",Structural state,DP02342r003,2022-02-14T09:00:00.000Z,1,227,IDPO:00078,pre-molten globule,Structural state,IDPO,2
0,DP02342,P06837,Neuromodulin,10090,Mus musculus,MLCCMRRTKQVEKNDEDQKIEQDGVKPEDKAHKAATKIQASFRGHI...,"[Eukaryota, Metazoa, Chordata, Craniata, Verte...",Structural state,DP02342r003,2022-02-14T09:00:00.000Z,1,227,IDPO:00078,pre-molten globule,Structural state,IDPO,3
0,DP02342,P06837,Neuromodulin,10090,Mus musculus,MLCCMRRTKQVEKNDEDQKIEQDGVKPEDKAHKAATKIQASFRGHI...,"[Eukaryota, Metazoa, Chordata, Craniata, Verte...",Structural state,DP02342r003,2022-02-14T09:00:00.000Z,1,227,IDPO:00078,pre-molten globule,Structural state,IDPO,4
0,DP02342,P06837,Neuromodulin,10090,Mus musculus,MLCCMRRTKQVEKNDEDQKIEQDGVKPEDKAHKAATKIQASFRGHI...,"[Eukaryota, Metazoa, Chordata, Craniata, Verte...",Structural state,DP02342r003,2022-02-14T09:00:00.000Z,1,227,IDPO:00078,pre-molten globule,Structural state,IDPO,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1167,DP03746,Q9QUH6-2,Isoform 2 of Ras/Rap GTPase-activating protein...,10116,Rattus norvegicus,MSYAPFRDVRGPPMHRTQYVHSPYDRPGWNPRFCIISGNQLLMLDE...,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",Structural state,DP03746r001,2022-06-22T14:35:20.554Z,350,386,IDPO:00076,disorder,Structural state,IDPO,382
1167,DP03746,Q9QUH6-2,Isoform 2 of Ras/Rap GTPase-activating protein...,10116,Rattus norvegicus,MSYAPFRDVRGPPMHRTQYVHSPYDRPGWNPRFCIISGNQLLMLDE...,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",Structural state,DP03746r001,2022-06-22T14:35:20.554Z,350,386,IDPO:00076,disorder,Structural state,IDPO,383
1167,DP03746,Q9QUH6-2,Isoform 2 of Ras/Rap GTPase-activating protein...,10116,Rattus norvegicus,MSYAPFRDVRGPPMHRTQYVHSPYDRPGWNPRFCIISGNQLLMLDE...,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",Structural state,DP03746r001,2022-06-22T14:35:20.554Z,350,386,IDPO:00076,disorder,Structural state,IDPO,384
1167,DP03746,Q9QUH6-2,Isoform 2 of Ras/Rap GTPase-activating protein...,10116,Rattus norvegicus,MSYAPFRDVRGPPMHRTQYVHSPYDRPGWNPRFCIISGNQLLMLDE...,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",Structural state,DP03746r001,2022-06-22T14:35:20.554Z,350,386,IDPO:00076,disorder,Structural state,IDPO,385
1167,DP03746,Q9QUH6-2,Isoform 2 of Ras/Rap GTPase-activating protein...,10116,Rattus norvegicus,MSYAPFRDVRGPPMHRTQYVHSPYDRPGWNPRFCIISGNQLLMLDE...,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",Structural state,DP03746r001,2022-06-22T14:35:20.554Z,350,386,IDPO:00076,disorder,Structural state,IDPO,386

In [29]:
df_regions = pd.merge( left  = df_regions
                     , right = df_challenges
                     , how   = "left"
                     , on    = "term_id" )
df_regions

,disprot_id,acc,name,ncbi_taxon_id,organism,sequence,taxonomy,disprot_namespace,region_id,date,start,end,term_id,term_name,term_namespace,term_ontology,reg_position,challenge
0,DP02342,P06837,Neuromodulin,10090,Mus musculus,MLCCMRRTKQVEKNDEDQKIEQDGVKPEDKAHKAATKIQASFRGHI...,"[Eukaryota, Metazoa, Chordata, Craniata, Verte...",Structural state,DP02342r003,2022-02-14T09:00:00.000Z,1,227,IDPO:00078,pre-molten globule,Structural state,IDPO,1,disorder
1,DP02342,P06837,Neuromodulin,10090,Mus musculus,MLCCMRRTKQVEKNDEDQKIEQDGVKPEDKAHKAATKIQASFRGHI...,"[Eukaryota, Metazoa, Chordata, Craniata, Verte...",Structural state,DP02342r003,2022-02-14T09:00:00.000Z,1,227,IDPO:00078,pre-molten globule,Structural state,IDPO,2,disorder
2,DP02342,P06837,Neuromodulin,10090,Mus musculus,MLCCMRRTKQVEKNDEDQKIEQDGVKPEDKAHKAATKIQASFRGHI...,"[Eukaryota, Metazoa, Chordata, Craniata, Verte...",Structural state,DP02342r003,2022-02-14T09:00:00.000Z,1,227,IDPO:00078,pre-molten globule,Structural state,IDPO,3,disorder
3,DP02342,P06837,Neuromodulin,10090,Mus musculus,MLCCMRRTKQVEKNDEDQKIEQDGVKPEDKAHKAATKIQASFRGHI...,"[Eukaryota, Metazoa, Chordata, Craniata, Verte...",Structural state,DP02342r003,2022-02-14T09:00:00.000Z,1,227,IDPO:00078,pre-molten globule,Structural state,IDPO,4,disorder
4,DP02342,P06837,Neuromodulin,10090,Mus musculus,MLCCMRRTKQVEKNDEDQKIEQDGVKPEDKAHKAATKIQASFRGHI...,"[Eukaryota, Metazoa, Chordata, Craniata, Verte...",Structural state,DP02342r003,2022-02-14T09:00:00.000Z,1,227,IDPO:00078,pre-molten globule,Structural state,IDPO,5,disorder
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135680,DP03746,Q9QUH6-2,Isoform 2 of Ras/Rap GTPase-activating protein...,10116,Rattus norvegicus,MSYAPFRDVRGPPMHRTQYVHSPYDRPGWNPRFCIISGNQLLMLDE...,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",Structural state,DP03746r001,2022-06-22T14:35:20.554Z,350,386,IDPO:00076,disorder,Structural state,IDPO,382,disorder
135681,DP03746,Q9QUH6-2,Isoform 2 of Ras/Rap GTPase-activating protein...,10116,Rattus norvegicus,MSYAPFRDVRGPPMHRTQYVHSPYDRPGWNPRFCIISGNQLLMLDE...,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",Structural state,DP03746r001,2022-06-22T14:35:20.554Z,350,386,IDPO:00076,disorder,Structural state,IDPO,383,disorder
135682,DP03746,Q9QUH6-2,Isoform 2 of Ras/Rap GTPase-activating protein...,10116,Rattus norvegicus,MSYAPFRDVRGPPMHRTQYVHSPYDRPGWNPRFCIISGNQLLMLDE...,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",Structural state,DP03746r001,2022-06-22T14:35:20.554Z,350,386,IDPO:00076,disorder,Structural state,IDPO,384,disorder
135683,DP03746,Q9QUH6-2,Isoform 2 of Ras/Rap GTPase-activating protein...,10116,Rattus norvegicus,MSYAPFRDVRGPPMHRTQYVHSPYDRPGWNPRFCIISGNQLLMLDE...,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",Structural state,DP03746r001,2022-06-22T14:35:20.554Z,350,386,IDPO:00076,disorder,Structural state,IDPO,385,disorder
135684,DP03746,Q9QUH6-2,Isoform 2 of Ras/Rap GTPase-activating protein...,10116,Rattus norvegicus,MSYAPFRDVRGPPMHRTQYVHSPYDRPGWNPRFCIISGNQLLMLDE...,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",Structural state,DP03746r001,2022-06-22T14:35:20.554Z,350,386,IDPO:00076,disorder,Structural state,IDPO,386,disorder

In [30]:
df_regions = df_regions[['disprot_id', 'acc', 'challenge', 'reg_position']]
df_regions.dropna(subset='challenge', inplace=True)
df_regions.drop_duplicates(['disprot_id', 'acc', 'challenge', 'reg_position'], inplace=True)
df_regions

/tmp/ipykernel_858699/3865180533.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_regions.dropna(subset='challenge', inplace=True)
/tmp/ipykernel_858699/3865180533.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_regions.drop_duplicates(['disprot_id', 'acc', 'challenge', 'reg_position'], inplace=True)

       disprot_id       acc challenge reg_position
0         DP02342    P06837  disorder            1
1         DP02342    P06837  disorder            2
2         DP02342    P06837  disorder            3
3         DP02342    P06837  disorder            4
4         DP02342    P06837  disorder            5
...           ...       ...       ...          ...
135680    DP03746  Q9QUH6-2  disorder          382
135681    DP03746  Q9QUH6-2  disorder          383
135682    DP03746  Q9QUH6-2  disorder          384
135683    DP03746  Q9QUH6-2  disorder          385
135684    DP03746  Q9QUH6-2  disorder          386

[57861 rows x 4 columns]

#### Save dataframe of regions

In [31]:
df_regions.to_csv(f'{dir_results_tables}/disprot_private_regions.csv', index=False)

### Dataframe DisProt sequences with wwPDB (SIFTS)

#### SIFTS dataframe

In [32]:
df_sifts = pd.read_csv(f"{dir_data_sifts}/uniprot_segments_observed.tsv.gz", sep="\t", header=1)
df_sifts

,PDB,CHAIN,SP_PRIMARY,RES_BEG,RES_END,PDB_BEG,PDB_END,SP_BEG,SP_END
0,113l,A,P00720,1,162,1,162,1,162
1,11gs,A,P09211,3,210,2,209,3,210
2,11gs,B,P09211,3,210,2,209,3,210
3,121p,A,P01112,1,166,1,166,1,166
4,133l,A,P61626,1,130,1,130,19,148
...,...,...,...,...,...,...,...,...,...
962405,7z7o,C,B1PNC0,69,227,71,229,61,219
962406,7z7o,D,B1PNC0,13,67,13,67,3,57
962407,7z7o,D,B1PNC0,68,68,69,69,59,60
962408,7z7o,D,B1PNC0,68,68,69,69,58,58
962409,7z7o,D,B1PNC0,69,227,71,229,61,219

#### Subsetting dataframe to have only present disprot sequences

In [33]:
df_sifts = df_sifts.loc[df_sifts['SP_PRIMARY'].isin(df_sequence['acc'].unique().tolist())]
df_sifts

,PDB,CHAIN,SP_PRIMARY,RES_BEG,RES_END,PDB_BEG,PDB_END,SP_BEG,SP_END
1082,1h9e,A,P42166,1,56,1,56,2,57
1307,1ig8,A,P04807,18,486,18,486,18,486
1649,1k99,A,P17480,2,91,2,91,103,192
1960,1m7k,A,O95429,19,99,376,456,376,456
2382,1olt,A,P32131,4,13,4,13,4,13
...,...,...,...,...,...,...,...,...,...
961229,7vjy,A,P0DTC1,1,306,1,306,3264,3569
961312,7vk3,A,P0DTC1,1,300,1,300,3264,3563
961313,7vk3,B,P0DTC1,3,301,3,301,3266,3564
961328,7vk7,A,P0DTC1,1,300,1,300,3264,3563
961329,7vk7,B,P0DTC1,3,301,3,301,3266,3564

In [34]:
df_sifts = df_sifts.apply(expand_region, database='sifts', axis=1)
df_sifts = df_sifts.explode("sp_position")
df_sifts

,PDB,CHAIN,SP_PRIMARY,RES_BEG,RES_END,PDB_BEG,PDB_END,SP_BEG,SP_END,sp_position
1082,1h9e,A,P42166,1,56,1,56,2,57,2
1082,1h9e,A,P42166,1,56,1,56,2,57,3
1082,1h9e,A,P42166,1,56,1,56,2,57,4
1082,1h9e,A,P42166,1,56,1,56,2,57,5
1082,1h9e,A,P42166,1,56,1,56,2,57,6
...,...,...,...,...,...,...,...,...,...,...
961329,7vk7,B,P0DTC1,3,301,3,301,3266,3564,3560
961329,7vk7,B,P0DTC1,3,301,3,301,3266,3564,3561
961329,7vk7,B,P0DTC1,3,301,3,301,3266,3564,3562
961329,7vk7,B,P0DTC1,3,301,3,301,3266,3564,3563
961329,7vk7,B,P0DTC1,3,301,3,301,3266,3564,3564

In [35]:
# Add wwPDB observed residues
# Suposition: aa is the same in uniprot and wwPDB
df_sequence_sifts = pd.merge( left     = df_sequence
                            , right    = df_sifts
                            , left_on  = ['acc', 'seq_position']
                            , right_on = ['SP_PRIMARY', 'sp_position']
                            , how      = 'left' )
df_sequence_sifts

,disprot_id,acc,seq_position,seq_aa,PDB,CHAIN,SP_PRIMARY,RES_BEG,RES_END,PDB_BEG,PDB_END,SP_BEG,SP_END,sp_position
0,DP02342,P06837,1,M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,DP02342,P06837,2,L,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,DP02342,P06837,3,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,DP02342,P06837,4,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,DP02342,P06837,5,M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1379746,DP03746,Q9QUH6-2,1280,Q,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1379747,DP03746,Q9QUH6-2,1281,L,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1379748,DP03746,Q9QUH6-2,1282,L,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1379749,DP03746,Q9QUH6-2,1283,I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1379750,DP03746,Q9QUH6-2,1284,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
df_sequence_sifts = df_sequence_sifts[['disprot_id', 'acc', 'seq_position', 'seq_aa', 'sp_position']]
df_sequence_sifts.drop_duplicates(inplace=True)
df_sequence_sifts

/tmp/ipykernel_858699/2537833772.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sequence_sifts.drop_duplicates(inplace=True)

        disprot_id       acc seq_position seq_aa sp_position
0          DP02342    P06837            1      M         NaN
1          DP02342    P06837            2      L         NaN
2          DP02342    P06837            3      C         NaN
3          DP02342    P06837            4      C         NaN
4          DP02342    P06837            5      M         NaN
...            ...       ...          ...    ...         ...
1379746    DP03746  Q9QUH6-2         1280      Q         NaN
1379747    DP03746  Q9QUH6-2         1281      L         NaN
1379748    DP03746  Q9QUH6-2         1282      L         NaN
1379749    DP03746  Q9QUH6-2         1283      I         NaN
1379750    DP03746  Q9QUH6-2         1284      R         NaN

[297446 rows x 5 columns]

#### Save dataframe of private DisProt sequences with wwPDB (SIFTS)

In [37]:
df_sequence_sifts.to_csv(f'{dir_results_tables}/disprot_private_sifts.csv', index=False)

### Dataframe DisProt sequences with Alphafold score

#### Alphafold dataframe

In [38]:
df_af = pd.DataFrame()
header = [ 'name'
         , 'pos'
         , 'aa'
         , 'lddt'
         , 'disorder'
         , 'rsa'
         , 'ss'
         , 'disorder-25'
         , 'binding-25-0.581' ]
for af_file in os.listdir(f"{dir_data_alphafold}"):
    af_pred = pd.read_csv(f"{dir_data_alphafold}/{af_file}", sep='\t')
    df_af   = pd.concat([df_af, af_pred], ignore_index=True)
df_af['name'] = df_af['name'].apply(lambda x: x.replace('AF-','').replace('-F1-model_v3',''))
df_af

,name,pos,aa,lddt,disorder,rsa,ss,disorder-25,binding-25-0.581
0,P91870,1,M,0.485,0.515,1.000,-,0.866,0.784
1,P91870,2,E,0.575,0.425,0.928,-,0.872,0.822
2,P91870,3,D,0.608,0.392,0.890,-,0.876,0.836
3,P91870,4,D,0.578,0.422,0.988,-,0.879,0.823
4,P91870,5,A,0.626,0.374,0.811,-,0.888,0.843
...,...,...,...,...,...,...,...,...,...
218152,A1KVD0,151,D,0.971,0.029,0.454,H,0.415,0.415
218153,A1KVD0,152,N,0.958,0.042,0.745,H,0.422,0.422
218154,A1KVD0,153,A,0.930,0.070,0.236,T,0.447,0.447
218155,A1KVD0,154,R,0.893,0.107,0.476,T,0.462,0.462
218156,A1KVD0,155,V,0.624,0.376,1.000,-,0.439,0.439

#### Save dataframe of Alphafold

In [39]:
df_af.to_csv(f'{dir_results_tables}/alphafold_pred.csv', index=False)

#### Subsetting dataframe to have mapped alphafold info present in private disprot sequences

In [40]:
# Add Alphafold predictions
df_sequence_af = pd.merge( left     = df_sequence
                         , right    = df_af
                         , left_on  = ['acc', 'seq_position']
                         , right_on = ['name', 'pos']
                         , how      = 'left' )
print(len(df_sequence_af.disprot_id.unique().tolist()))
df_sequence_af

361

,disprot_id,acc,seq_position,seq_aa,name,pos,aa,lddt,disorder,rsa,ss,disorder-25,binding-25-0.581
0,DP02342,P06837,1,M,P06837,1.0,M,0.730,0.270,1.000,-,0.897,0.887
1,DP02342,P06837,2,L,P06837,2.0,L,0.734,0.266,0.994,G,0.891,0.889
2,DP02342,P06837,3,C,P06837,3.0,C,0.744,0.256,0.919,G,0.885,0.893
3,DP02342,P06837,4,C,P06837,4.0,C,0.704,0.296,0.874,G,0.878,0.876
4,DP02342,P06837,5,M,P06837,5.0,M,0.708,0.292,0.888,G,0.873,0.878
...,...,...,...,...,...,...,...,...,...,...,...,...,...
297441,DP03746,Q9QUH6-2,1280,Q,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297442,DP03746,Q9QUH6-2,1281,L,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297443,DP03746,Q9QUH6-2,1282,L,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297444,DP03746,Q9QUH6-2,1283,I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297445,DP03746,Q9QUH6-2,1284,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
df_sequence_af = df_sequence_af[['disprot_id', 'acc', 'seq_position', 'seq_aa', 'lddt']]
df_sequence_af.drop_duplicates(inplace=True)
df_sequence_af

/tmp/ipykernel_858699/713070256.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sequence_af.drop_duplicates(inplace=True)

       disprot_id       acc  seq_position seq_aa   lddt
0         DP02342    P06837             1      M  0.730
1         DP02342    P06837             2      L  0.734
2         DP02342    P06837             3      C  0.744
3         DP02342    P06837             4      C  0.704
4         DP02342    P06837             5      M  0.708
...           ...       ...           ...    ...    ...
297441    DP03746  Q9QUH6-2          1280      Q    NaN
297442    DP03746  Q9QUH6-2          1281      L    NaN
297443    DP03746  Q9QUH6-2          1282      L    NaN
297444    DP03746  Q9QUH6-2          1283      I    NaN
297445    DP03746  Q9QUH6-2          1284      R    NaN

[297446 rows x 5 columns]

#### Save dataframe of private DisProt sequences with Alphafold score

In [42]:
df_sequence_af.to_csv(f'{dir_results_tables}/disprot_private_alphafold.csv', index=False)

### Dataframe for Gene3D

In [43]:
os.makedirs(f"{dir_results_lists}", exist_ok=True)

#### Save UniProt IDs from private DisProt entries

In [44]:
with open(f"{dir_results_lists}/uniprot_ids_caid2.list", "w") as f:
    f.write(''.join([f"{uniprot_id}\n" for uniprot_id in sorted(df_disprot_private.acc.unique())]))

#### Apply `grep` to search each UniProt ID match in local database of Gene3D

##### BioComputingUP Gene3D database

```bash
PATH_DB_GENE3D="/mnt/sshfs/urano/db/interpro/protein2ipr.dat.gz"
```

You can skip this three lines if your gene3d database has a header.
```bash
header=$(echo -e "uniprot_id\tinterpro_id\tdescription\tdb_id\tstart\tend\n") 
echo -e "${header}" > "${dir_results_tables}/gene3d_for_caid2.tsv"
echo -e "${header}" > "${dir_results_tables}/gene3d_g3dsa_for_caid2.tsv"
```

```bash
zgrep -f "${dir_results_lists}/uniprot_ids_caid2.list" "${PATH_DB_GENE3D}" >> "${dir_results_tables}/gene3d_for_caid2.tsv"
gzip "${dir_results_tables}/gene3d_for_caid2.tsv"
```

```bash
zgrep "G3DSA" "${dir_results_tables}/gene3d_for_caid2.tsv.gz" >> "${dir_results_tables}/gene3d_g3dsa_for_caid2.tsv"
```

In [60]:
try:
    os.path.exists(f'{dir_results_tables}/gene3d_g3dsa_for_caid2.tsv')
except FileNotFoundError as e:
    raise e
else:
    df_gene3d = pd.read_table(f'{dir_results_tables}/gene3d_g3dsa_for_caid2.tsv', header=0)
df_gene3d

,uniprot_id,interpro_id,description,db_id,start,end
0,A0A0A1Z9S6,IPR023575,"Ribosomal protein S19/S15, superfamily",G3DSA:3.30.860.10,1,91
1,A0A0A7KHA7,IPR035906,MetI-like superfamily,G3DSA:1.10.3720.10,21,300
2,A0A0F4IED2,IPR027417,P-loop containing nucleoside triphosphate hydr...,G3DSA:3.40.50.300,56,289
3,A0A0H2L2M0,IPR029044,Nucleotide-diphospho-sugar transferases,G3DSA:3.90.550.10,3,266
4,A0A0M4GGR4,IPR009014,Transketolase C-terminal/Pyruvate-ferredoxin o...,G3DSA:3.40.50.920,541,666
...,...,...,...,...,...,...
929,Q9Y4K0,IPR036772,SRCR-like domain superfamily,G3DSA:3.10.250.10,321,429
930,Q9Y4K0,IPR036772,SRCR-like domain superfamily,G3DSA:3.10.250.10,430,549
931,Q9Y5S1,IPR036770,Ankyrin repeat-containing domain superfamily,G3DSA:1.25.40.20,77,373
932,Q9Y6D6,IPR011989,Armadillo-like helical,G3DSA:1.25.10.10,1186,1522
933,Q9Y6D6,IPR023394,"Sec7, C-terminal domain superfamily",G3DSA:1.10.1000.11,772,891

In [61]:
df_gene3d = df_gene3d.apply(expand_region, database='gene3d', axis=1)
df_gene3d = df_gene3d.explode("g3d_position")
df_gene3d

,uniprot_id,interpro_id,description,db_id,start,end,g3d_position
0,A0A0A1Z9S6,IPR023575,"Ribosomal protein S19/S15, superfamily",G3DSA:3.30.860.10,1,91,1
0,A0A0A1Z9S6,IPR023575,"Ribosomal protein S19/S15, superfamily",G3DSA:3.30.860.10,1,91,2
0,A0A0A1Z9S6,IPR023575,"Ribosomal protein S19/S15, superfamily",G3DSA:3.30.860.10,1,91,3
0,A0A0A1Z9S6,IPR023575,"Ribosomal protein S19/S15, superfamily",G3DSA:3.30.860.10,1,91,4
0,A0A0A1Z9S6,IPR023575,"Ribosomal protein S19/S15, superfamily",G3DSA:3.30.860.10,1,91,5
...,...,...,...,...,...,...,...
933,Q9Y6D6,IPR023394,"Sec7, C-terminal domain superfamily",G3DSA:1.10.1000.11,772,891,887
933,Q9Y6D6,IPR023394,"Sec7, C-terminal domain superfamily",G3DSA:1.10.1000.11,772,891,888
933,Q9Y6D6,IPR023394,"Sec7, C-terminal domain superfamily",G3DSA:1.10.1000.11,772,891,889
933,Q9Y6D6,IPR023394,"Sec7, C-terminal domain superfamily",G3DSA:1.10.1000.11,772,891,890
933,Q9Y6D6,IPR023394,"Sec7, C-terminal domain superfamily",G3DSA:1.10.1000.11,772,891,891

In [66]:
# Add Gene3D positions
df_sequence_gene3d = pd.merge( left     = df_sequence
                             , right    = df_gene3d
                             , left_on  = ['acc', 'seq_position']
                             , right_on = ['uniprot_id', 'g3d_position']
                             , how      = 'left' )
df_sequence_gene3d

,disprot_id,acc,seq_position,seq_aa,uniprot_id,interpro_id,description,db_id,start,end,g3d_position
0,DP02342,P06837,1,M,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,DP02342,P06837,2,L,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,DP02342,P06837,3,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,DP02342,P06837,4,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,DP02342,P06837,5,M,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
300199,DP03746,Q9QUH6-2,1280,Q,NaN,NaN,NaN,NaN,NaN,NaN,NaN
300200,DP03746,Q9QUH6-2,1281,L,NaN,NaN,NaN,NaN,NaN,NaN,NaN
300201,DP03746,Q9QUH6-2,1282,L,NaN,NaN,NaN,NaN,NaN,NaN,NaN
300202,DP03746,Q9QUH6-2,1283,I,NaN,NaN,NaN,NaN,NaN,NaN,NaN
300203,DP03746,Q9QUH6-2,1284,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
df_sequence_gene3d = df_sequence_gene3d[['disprot_id', 'acc', 'seq_position', 'seq_aa', 'db_id', 'g3d_position']]
df_sequence_gene3d.drop_duplicates(inplace=True)
df_sequence_gene3d

/tmp/ipykernel_858699/1656382680.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sequence_gene3d.drop_duplicates(inplace=True)

       disprot_id       acc seq_position seq_aa db_id g3d_position
0         DP02342    P06837            1      M   NaN          NaN
1         DP02342    P06837            2      L   NaN          NaN
2         DP02342    P06837            3      C   NaN          NaN
3         DP02342    P06837            4      C   NaN          NaN
4         DP02342    P06837            5      M   NaN          NaN
...           ...       ...          ...    ...   ...          ...
300199    DP03746  Q9QUH6-2         1280      Q   NaN          NaN
300200    DP03746  Q9QUH6-2         1281      L   NaN          NaN
300201    DP03746  Q9QUH6-2         1282      L   NaN          NaN
300202    DP03746  Q9QUH6-2         1283      I   NaN          NaN
300203    DP03746  Q9QUH6-2         1284      R   NaN          NaN

[299405 rows x 6 columns]

#### Save dataframe of private DisProt sequences with Gene3D

In [69]:
df_sequence_gene3d.to_csv(f'{dir_results_tables}/disprot_private_gene3d.csv', index=False)

#### API of Gene3D

Inside the "results" array search "metadata.member_databases.cathgene3d" key exists and then use start end as defined in the "proteins" array (under "entry_protein_locations" array you have "fragments" objects with start/end fields)

https://www.ebi.ac.uk/interpro/api/entry/interpro/protein/uniprot/P04637

```
{
            "metadata": {
                "accession": "IPR012346",
                "name": "p53/RUNT-type transcription factor, DNA-binding domain superfamily",
                "source_database": "interpro",
                "type": "homologous_superfamily",
                "integrated": null,
                "member_databases": {
                    "cathgene3d": {
                        "G3DSA:2.60.40.720": "G3DSA:2.60.40.720"
                    }
                },
                "go_terms": [
                    {
                        "identifier": "GO:0003677",
                        "name": "DNA binding",
                        "category": {
                            "code": "F",
                            "name": "molecular_function"
                        }
                    },
                    {
                        "identifier": "GO:0003700",
                        "name": "DNA-binding transcription factor activity",
                        "category": {
                            "code": "F",
                            "name": "molecular_function"
                        }
                    },
                    {
                        "identifier": "GO:0006355",
                        "name": "regulation of transcription, DNA-templated",
                        "category": {
                            "code": "P",
                            "name": "biological_process"
                        }
                    },
                    {
                        "identifier": "GO:0005634",
                        "name": "nucleus",
                        "category": {
                            "code": "C",
                            "name": "cellular_component"
                        }
                    }
                ]
            },
            "proteins": [
                {
                    "accession": "p04637",
                    "protein_length": 393,
                    "source_database": "reviewed",
                    "organism": "9606",
                    "entry_protein_locations": [
                        {
                            "fragments": [
                                {
                                    "start": 95,
                                    "end": 294,
                                    "dc-status": "CONTINUOUS"
                                }
                            ],
                            "model": null,
                            "score": null
                        }
                    ]
                }
            ]
        },
```

## References

In [46]:
os.makedirs(f"{dir_results_references}", exist_ok=True)

### Reference for `disorder`, `linker` and `transition`

In [47]:
for challenge in ['disorder', 'linker', 'transition']:
    # Challenge
    df_entry_region_challenge = pd.merge( left     = df_sequence
                                        , right    = df_regions.loc[df_regions['challenge'] == challenge]
                                        , left_on  = ["disprot_id", 'acc', 'seq_position']
                                        , right_on = ["disprot_id", 'acc', 'reg_position']
                                        , how      = 'inner' )
    list_disprot_ids = df_entry_region_challenge['disprot_id'].unique().tolist()
    df_sequence_subset = df_sequence.apply(lambda row: row[df_sequence['disprot_id'].isin(list_disprot_ids)])
    df_entry_region_challenge = pd.merge( left     = df_sequence_subset
                                        , right    = df_regions.loc[df_regions['challenge'] == challenge]
                                        , left_on  = ["disprot_id", 'acc', 'seq_position']
                                        , right_on = ["disprot_id", 'acc', 'reg_position']
                                        , how      = 'left' )
    with open(f"{dir_results_references}/{challenge.replace(' ', '_')}.fasta", "w+") as f:
        for disprot_id, df_g in df_entry_region_challenge.groupby(by='disprot_id'):
            f.write(">{}\n{}\n{}\n".format( disprot_id
                                          , ''.join(df_g['seq_aa'])
                                          , ''.join(['0' if pd.isnull(val) else '1' for val in df_g['challenge']]) ))
    # Challenge + wwPDB (Sifts)
    df_sequence_sifts_challenge = pd.merge( left     = df_sequence_sifts
                                          , right    = df_entry_region_challenge
                                          , left_on  = ["disprot_id", 'seq_aa', 'acc', 'seq_position', 'sp_position']
                                          , right_on = ["disprot_id", 'seq_aa', 'acc', 'seq_position', 'reg_position']
                                          , how      = 'left' )
    df_sequence_sifts_challenge['result'] = '-'
    df_sequence_sifts_challenge.loc[df_sequence_sifts_challenge['sp_position'].notnull(), 'result'] = '0' 
    df_sequence_sifts_challenge.loc[df_sequence_sifts_challenge['challenge'].notnull(), 'result'] = '1' # Assigment: 1 for challenge
    with open(f"{dir_results_references}/pdb-{challenge.replace(' ', '_')}-atleast.fasta", "w+") as f:
        for disprot_id, df_g in df_sequence_sifts_challenge.groupby(by='disprot_id'):
            f.write(">{}\n{}\n{}\n".format( disprot_id
                                          , ''.join(df_g['seq_aa'])
                                          , ''.join(df_g['result'])))
    # Challenge + Alphafold
    df_sequence_af_challenge = pd.merge( left     = df_sequence_af
                                       , right    = df_regions.loc[df_regions['challenge'] == challenge]
                                       , left_on  = ["disprot_id", 'acc', 'seq_position']
                                       , right_on = ["disprot_id", 'acc', 'reg_position']
                                       , how      = 'left' )
    df_sequence_af_challenge['result'] = '-'
    df_sequence_af_challenge.loc[df_sequence_af_challenge['lddt'] > 0.7, 'result'] = '0'  # Assigment: 0 for AF order
    df_sequence_af_challenge.loc[df_sequence_af_challenge['challenge'].notnull(), 'result'] = '1' # Assigment: 1 for challenge
    with open(f"{dir_results_references}/af-{challenge.replace(' ', '_')}-atleast.fasta", "w+") as f:
        for disprot_id, df_g in df_sequence_af_challenge.groupby(by='disprot_id'):
            f.write(">{}\n{}\n{}\n".format( disprot_id
                                        , ''.join(df_g['seq_aa'])
                                        , ''.join(df_g['result'])))

### Reference for `binding`, `nucleic acid binding` and `protein binding`

In [48]:
df_sequence_disorder = pd.merge( left     = df_sequence
                               , right    = df_regions.loc[df_regions['challenge'] == 'disorder']
                               , left_on  = ['disprot_id', 'acc', 'seq_position']
                               , right_on = ['disprot_id', 'acc', 'reg_position']
                               , how      = 'inner' )
df_sequence_disorder

      disprot_id       acc seq_position seq_aa challenge reg_position
0        DP02342    P06837            1      M  disorder            1
1        DP02342    P06837            2      L  disorder            2
2        DP02342    P06837            3      C  disorder            3
3        DP02342    P06837            4      C  disorder            4
4        DP02342    P06837            5      M  disorder            5
...          ...       ...          ...    ...       ...          ...
34158    DP03746  Q9QUH6-2          382      C  disorder          382
34159    DP03746  Q9QUH6-2          383      P  disorder          383
34160    DP03746  Q9QUH6-2          384      A  disorder          384
34161    DP03746  Q9QUH6-2          385      V  disorder          385
34162    DP03746  Q9QUH6-2          386      R  disorder          386

[34163 rows x 6 columns]

In [49]:
for challenge in ['binding', 'nucleic acid binding', 'protein binding']:
    # Challenge
    df_sequence_challenge = pd.merge( left     = df_sequence
                                    , right    = df_regions.loc[df_regions['challenge'] == challenge]
                                    , left_on  = ["disprot_id", 'acc', 'seq_position']
                                    , right_on = ["disprot_id", 'acc', 'reg_position']
                                    , how      = 'inner' )
    df_sequence_challenge = df_sequence_challenge[["disprot_id", 'acc', 'seq_position', 'seq_aa', 'challenge']]
    df_sequence_disorder_challenge = pd.merge( left     = df_sequence_disorder
                                             , right    = df_sequence_challenge
                                             , left_on  = ["disprot_id", 'acc', 'seq_position', 'seq_aa']
                                             , right_on = ["disprot_id", 'acc', 'seq_position', 'seq_aa']
                                             , how      = 'inner' )
    list_disprot_ids = df_sequence_disorder_challenge['disprot_id'].unique().tolist()
    df_sequence_subset = df_sequence.apply(lambda row: row[df_sequence['disprot_id'].isin(list_disprot_ids)])
    df_sequence_challenge_core = pd.merge( left     = df_sequence_subset
                                         , right    = df_sequence_disorder_challenge[["disprot_id", 'acc', 'reg_position']]
                                         , left_on  = ["disprot_id", 'acc', 'seq_position']
                                         , right_on = ["disprot_id", 'acc', 'reg_position']
                                         , how      = 'left' )
    df_sequence_challenge_core['result'] = '0'
    df_sequence_challenge_core.loc[df_sequence_challenge_core['reg_position'].notnull(), 'result'] = '1' # Assigment: 1 for challenge core
    with open(f"{dir_results_references}/{challenge.replace(' ', '_')}.fasta", "w+") as f:
        for disprot_id, df_g in df_sequence_challenge_core.groupby(by='disprot_id'):
            f.write(">{}\n{}\n{}\n".format( disprot_id
                                          , ''.join(df_g['seq_aa'])
                                          , ''.join(df_g['result'])))
    # Challenge + wwPDB (Sifts)
    df_sequence_sifts_challenge = pd.merge( left     = df_sequence_disorder_challenge
                                          , right    = df_sequence_sifts
                                          , left_on  = ["disprot_id", 'seq_aa', 'acc', 'seq_position', 'reg_position']
                                          , right_on = ["disprot_id", 'seq_aa', 'acc', 'seq_position', 'sp_position']
                                          , how      = 'inner' )
    list_disprot_ids = df_sequence_sifts_challenge['disprot_id'].unique().tolist()
    df_sequence_sifts_subset = df_sequence_sifts.apply(lambda row: row[df_sequence_sifts['disprot_id'].isin(list_disprot_ids)])
    df_sequence_sifts_challenge_core = pd.merge( left     = df_sequence_sifts_subset
                                               , right    = df_sequence_sifts_challenge
                                               , left_on  = ["disprot_id", 'seq_aa', 'acc', 'seq_position', 'sp_position', 'sp_position']
                                               , right_on = ["disprot_id", 'seq_aa', 'acc', 'seq_position', 'sp_position', 'reg_position']
                                               , how      = 'left' )
    df_sequence_sifts_challenge_core['result'] = '-'
    df_sequence_sifts_challenge_core.loc[df_sequence_sifts_challenge_core['sp_position'].notnull(), 'result'] = '0'  # Assigment: 0 for wwPDB
    df_sequence_sifts_challenge_core.loc[df_sequence_sifts_challenge_core['reg_position'].notnull(), 'result'] = '1' # Assigment: 1 for challenge
    with open(f"{dir_results_references}/pdb-{challenge.replace(' ', '_')}-atleast.fasta", "w+") as f:
        for disprot_id, df_g in df_sequence_sifts_challenge_core.groupby(by='disprot_id'):
            f.write(">{}\n{}\n{}\n".format( disprot_id
                                          , ''.join(df_g['seq_aa'])
                                          , ''.join(df_g['result'])))
    # Challenge + Alphafold
    df_sequence_af_challenge = pd.merge(  left     = df_sequence_disorder_challenge
                                       , right    = df_sequence_af
                                       , left_on  = ["disprot_id", 'acc', 'seq_aa', 'seq_position', 'reg_position']
                                       , right_on = ["disprot_id", 'acc', 'seq_aa', 'seq_position', 'seq_position']
                                       , how      = 'inner' )
    list_disprot_ids = df_sequence_af_challenge['disprot_id'].unique().tolist()
    df_sequence_af_subset = df_sequence_af.apply(lambda row: row[df_sequence_af['disprot_id'].isin(list_disprot_ids)])
    df_sequence_af_challenge_core = pd.merge( left     = df_sequence_af_subset
                                            , right    = df_sequence_af_challenge
                                            , left_on  = ["disprot_id", 'seq_aa', 'acc', 'seq_position', 'lddt']#, 'seq_position']
                                            , right_on = ["disprot_id", 'seq_aa', 'acc', 'seq_position', 'lddt']#, 'reg_position']
                                            , how      = 'left' )
    df_sequence_af_challenge_core['result'] = '-'
    df_sequence_af_challenge_core.loc[df_sequence_af_challenge_core['lddt'] > 0.7, 'result'] = '0'  # Assigment: 0 for AF order
    df_sequence_af_challenge_core.loc[df_sequence_af_challenge_core['reg_position'].notnull(), 'result'] = '1' # Assigment: 1 for challenge
    with open(f"{dir_results_references}/af-{challenge.replace(' ', '_')}-atleast.fasta", "w+") as f:
        for disprot_id, df_g in df_sequence_af_challenge_core.groupby(by='disprot_id'):
            f.write(">{}\n{}\n{}\n".format( disprot_id
                                          , ''.join(df_g['seq_aa'])
                                          , ''.join(df_g['result'])))

### Reference for `disorder_extended` (intersection between `disorder` and `transition` regions)

In [50]:
df_sequence_disorder = pd.merge( left     = df_sequence
                               , right    = df_regions.loc[df_regions['challenge'] == 'disorder']
                               , left_on  = ["disprot_id", 'acc', 'seq_position']
                               , right_on = ["disprot_id", 'acc', 'reg_position']
                               , how      = 'inner' )
df_sequence_disorder

      disprot_id       acc seq_position seq_aa challenge reg_position
0        DP02342    P06837            1      M  disorder            1
1        DP02342    P06837            2      L  disorder            2
2        DP02342    P06837            3      C  disorder            3
3        DP02342    P06837            4      C  disorder            4
4        DP02342    P06837            5      M  disorder            5
...          ...       ...          ...    ...       ...          ...
34158    DP03746  Q9QUH6-2          382      C  disorder          382
34159    DP03746  Q9QUH6-2          383      P  disorder          383
34160    DP03746  Q9QUH6-2          384      A  disorder          384
34161    DP03746  Q9QUH6-2          385      V  disorder          385
34162    DP03746  Q9QUH6-2          386      R  disorder          386

[34163 rows x 6 columns]

In [51]:
df_sequence_transition = pd.merge( left     = df_sequence
                                 , right    = df_regions.loc[df_regions['challenge'] == 'transition']
                                 , left_on  = ["disprot_id", 'acc', 'seq_position']
                                 , right_on = ["disprot_id", 'acc', 'reg_position']
                                 , how      = 'inner' )
df_sequence_disorder_extended = pd.merge( left     = df_sequence_disorder
                                        , right    = df_sequence_transition
                                        , left_on  = ["disprot_id", 'acc', 'seq_position', 'seq_aa', 'reg_position']
                                        , right_on = ["disprot_id", 'acc', 'seq_position', 'seq_aa', 'reg_position']
                                        , how      = 'inner' )
list_disprot_ids = df_sequence_disorder_extended['disprot_id'].unique().tolist()
df_sequence_subset = df_sequence.apply(lambda row: row[df_sequence['disprot_id'].isin(list_disprot_ids)])
df_sequence_disorder_extended_core = pd.merge( left     = df_sequence_subset
                                             , right    = df_sequence_disorder_extended
                                             , left_on  = ["disprot_id", 'acc', 'seq_aa', 'seq_position', 'seq_position']
                                             , right_on = ["disprot_id", 'acc', 'seq_aa', 'seq_position', 'reg_position']
                                             , how      = 'left' )
#df_sequence_disorder_extended = df_sequence_disorder_extended[["disprot_id", 'acc', 'seq_position', 'seq_aa', 'reg_position']].drop_duplicates()
df_sequence_disorder_extended_core['result'] = '0'
df_sequence_disorder_extended_core.loc[df_sequence_disorder_extended_core['reg_position'].notnull(), 'result'] = '1' # Assigment: 1 for disorder extended
# Disorder extended
with open(f"{dir_results_references}/disorder_extended.fasta", "w+") as f:
    for disprot_id, df_g in df_sequence_disorder_extended_core.groupby(by='disprot_id'):
        f.write(">{}\n{}\n{}\n".format( disprot_id
                                      , ''.join(df_g['seq_aa'])
                                      , ''.join(df_g['result'])))

## Baselines

### Baseline for wwPDB (SIFTS)

In [52]:
# wwPDB (Sifts) - CAID format
with open(f"{dir_results_references}/pdb-atleast.fasta", "w+") as f:
    for disprot_id, df_g in df_sequence_sifts.groupby(by='disprot_id'):
        f.write(">{}\n{}\n{}\n".format( disprot_id
                                      , ''.join(df_g['seq_aa'])
                                      , ''.join(['0' if pd.isnull(val) else '1' for val in df_g['sp_position']]))) # Assigment: 0 for disorder

### Baseline for Gene3D

In [76]:
# Gene3D - CAID format
df_sequence_gene3d['result'] = '0'
df_sequence_gene3d.loc[df_sequence_gene3d['g3d_position'].notnull(), 'result'] = '1'
with open(f"{dir_results_references}/gene3d.fasta", "w+") as f:
    for disprot_id, df_g in df_sequence_gene3d.groupby(by='disprot_id'):
        if '1' in df_g['result'].tolist():
            f.write(">{}\n{}\n{}\n".format( disprot_id
                                          , ''.join(df_g['seq_aa'])
                                          , ''.join(['0' if pd.isnull(val) else '1' for val in df_g['g3d_position']]))) # Assigment: 0 for disorder

/tmp/ipykernel_858699/3731263409.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sequence_gene3d['result'] = '0'